.col-xs-12.col-sm-12
  .admin-comments
    .admin-comment.clearfix
      time.time.col-xs-12.col-sm-3.col-md-2(datetime="2014-02-14") 2014-02-14
      p.col-xs-9.col-sm-5.col-md-8 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .rating.col-xs-3.col-sm-2.col-md-1
        span.number 5
        include svg/rating.pug
      a.btn.btn-danger.col-xs-4.col-xs-offset-4.col-sm-2.col-sm-offset-0.col-md-1(href="#") Удалить
