.col-sm-12
  ul.posts-list
    li.posts-item.clearfix
      .col-xs-12
        time.time.col-xs-12.col-sm-3.col-md-2(datetime="2014-02-14") 14-02-2014
        span.post-title.col-xs-9.col-sm-5.col-md-8 Title
        span.rating.col-xs-3.col-sm-2.col-md-1
          span.number 5
          include svg/rating.pug
        a.delete.btn.btn-danger.col-xs-4.col-xs-offset-4.col-sm-2.col-sm-offset-0.col-md-1(href="#" title="Удалить") Удалить
