#comments {
	margin-top: 1rem;
	padding: 1rem;

	border: 3px solid $decoration-color;
	border-radius: 5px;
	background-color: #fff;
}

.admin-comment {
	margin-bottom: 1rem;
	padding: 1rem;

	text-align: justify;

	border-bottom: 1px solid $base-color;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	&:nth-child(even) {
		background-color: #eee;
	}
	&:nth-child(odd) {
		background-color: #ddd;
	}
	.time {
		text-align: center;
	}
	.rating {
		text-align: center;
		.number {
			margin-bottom: 4px;
		}
	}
}
